.product-card{
    border : none;
    transition: 1s;
    box-shadow: 10px 10px 20px rgb(241, 241, 241);
}
.product-card:hover{
    box-shadow: 10px 10px 20px 5px rgb(221, 221, 221);
}
.parentDiv{
    overflow: hidden;
}
.product-card img {
    display: block;
    transition: 1s ease-in-out;
}
.product-card img:hover{
    position: relative;
    transform: scale(1.25);
   
}